<section class="hero">

    <div class="container hero-container">

        <img class="hero-image-mob" src="/img/hero/hero.svg" alt="people in phone">

        <div class="hero-box">

            <div class="hero-text-box">
                <h1 class="hero-title">Work at the speed of thought</h1>
                <p class="hero-descr">
                    Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine
                    your next user experience.
                </p>
            </div>
            <ul class="hero-btn-list">
                <li class="hero-btn-item">
                    <button class="hero-btn" type="button">Get started</button>
                </li>
                <li class="hero-btn-item">
                    <button class="hero-btn-seccond" type="button">
                        <svg class="btn-icon" width="20" height="18">
                            <use href="/img/sprite/sprite.svg#icon-play"></use>
                        </svg>
                        Watch the Video</button>
                </li>
            </ul>

        </div>

        <img class="hero-image-desc" src="/img/hero/hero.svg" alt="people in phone">

    </div>

</section>